name: Build Dawn from google

on:
  release:
    types: [published]

  workflow_dispatch:
    inputs:
      build_type:
        description: 'Build type (e.g., Release or Debug)'
        required: false
        default: 'Release'
        
jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        python-version: ["3.12", "3.13"]
        
    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 20480
        swap-size-mb: 1024
        remove-dotnet: 'true'
        remove-haskell: 'true'
        remove-android: 'true'
        remove-docker-images: 'true'

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: true
        
        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        swap-storage: true

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        sudo apt-get update --allow-insecure-repositories
        sudo apt-get install --quiet -y --no-install-recommends \
        cmake gcc g++

    - name: Run build script
      run: |
        git clone --branch chromium/6940 --depth 1 --recurse-submodules --shallow-submodules https://dawn.googlesource.com/dawn.git
        cd dawn
        cmake -S . -B out/Release -DDAWN_FETCH_DEPENDENCIES=ON -DDAWN_ENABLE_INSTALL=ON -DCMAKE_BUILD_TYPE=Release
        cmake --build out/Release
        cmake --install out/Release --prefix install/Release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dawn_${{ matrix.os }}_${{ matrix.python-version }}.tar
        path: ./dawn/install/Release
        
    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ./dawn/install/Release/lib/libwebgpu_dawn.so
