name: Build Dawn from google

on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        python-version: ["3.12", "3.13"]
        
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        sudo apt-get update --allow-insecure-repositories
        sudo apt-get install --quiet -y --no-install-recommends \
        cmake gcc g++

    - name: Run build script
      run: |
        cd /tmp
        git clone --branch chromium/6940 --depth 1 --recurse-submodules --shallow-submodules https://dawn.googlesource.com/dawn.git
        cd dawn
        cmake -S . -B out/Release -DDAWN_FETCH_DEPENDENCIES=ON -DDAWN_ENABLE_INSTALL=ON -DCMAKE_BUILD_TYPE=Release
        cmake --build out/Release
        cmake --install out/Release --prefix install/Release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dawn_${{ matrix.os }}_${{ matrix.python-version }}.tar
        path: /tmp/dawn/install/Release
        
    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: /tmp/dawn/install/Release/lib/libwebgpu_dawn.so
